<div class="showImage" *ngIf="showImageDiv">
    <mat-icon (click)="cancelImage()">close</mat-icon>
    <img [src]="image" *ngIf="image; else loading">

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>

<!-- Emojis -->
<div class="emojis" *ngIf="emojisToggle">
    <emoji-mart set="twitter" [exclude]="['flags']" (emojiClick)="addEmoji($event)"></emoji-mart>
</div>

<div class="input-container" id="input-container">
    <div class="input">
        <i class="far fa-grin-alt emojis_icon" (click)="openEmojis()"></i>
        <textarea rows="1" style="height:1em;" id="input" placeholder="Type a message" [formControl]="input"></textarea>
        <i class="far fa-image" (click)="inputFile.click()"></i>
    </div>
    <div class="send" (click)="send()">
        <mat-icon>send</mat-icon>
    </div>
</div>
<div id="open" (click)="open()">
    <mat-icon> chat_bubble</mat-icon>
</div>

<input type="file" style="display: none;" #inputFile (change)="selectImage($event, inputFile)">