@import '../../../../../vars';

:host{
    position: absolute;
    bottom: 8px;
    width: 100%;
    // left: -2.5px;
}

textarea {
    border: 0 none #fff;
    overflow: overflow;
    max-height: 75px;
    padding: 0;
    outline: none;
    resize: none;
}

.input-container{
    display: grid;
    grid-template-columns: 1fr 40px;
    margin: 0 10px;
    gap: 5px;
    align-items: center;
    position: relative;

    .input{
        background: #fff;
        border-radius: 20px;
        position: relative;
        padding: 10px;
        padding-right: 50px;
        padding-left: 50px;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);

        textarea{
            width: 100%;
            height: 41px;
            padding: 0 0 0 4px;
            border-radius: 25px;
            font-size: 16px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
            position: relative;
            top: 3px;
            background: #fff;
            color: $gris-claro;

            &::-webkit-scrollbar{
                width: 3px;
            }
            
            &::-webkit-scrollbar-thumb{
                background: lighten($color: $primary, $amount: 15);
            }
        }

        i{
            transform: scale(1.8);
            position: absolute;
            bottom: 14px;
            right: 25px;
            color: $gris-claro;
            cursor: pointer;
        }

        i.emojis_icon{
            right: auto;
            left: 20px;
        }
    }

    .send{
        color: #fff;
        width: 42px;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C4C4C4;
        border-radius: 50px;
        cursor: pointer;
        padding-left: 3px;
        padding-bottom: 1px;
    }
}

#open{
    position: fixed;
    color: #bdbdbd;
    cursor: pointer;
    right: 15px;
    background: #e3e3e3;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    top: 86vh;
}

#open i{
    transform: scale(.85);
}

.showImage{
    display: flex;
    flex-direction: column;
    background: #44bcffb8;
    padding: 30px 50px 40px;
    margin: 0 auto 5px;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;

    img{
        width: 80%;
        max-width: 380px;
        max-height: 300px;
        margin: 0 auto;
    }

    mat-icon{
        margin-bottom: 25px;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        transform: scale(1.5);
        align-self: end;

        &:hover{
            background: #3da5ddb8;
        }
    }

    mat-spinner{
        margin: 0 auto;
    }
}

// EMOJIS
.emojis{
    position: absolute;
    top: -432px;
}


@media(min-width: 1024px){
    .showImage{
        width: calc(100% - 409px);
    }
}