@import '../../../../vars';

.chat{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px 11px 14px;

    img{
        width: 47px;
        height: 47px;
        border-radius: 50px;
        object-fit: cover;
        margin-right: 10px;
    }

    &__info{
        border-bottom: 1px solid #efefef;
        padding-bottom: 5px;
        padding-top: 6.5px;
        width: 100%;
        height: 55px;

        &__time{
            color: $dark;
            font-size: 12px;
        }
        
        &__message{
            color: #535353;
            font-size: 16px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            margin-right: 5px !important;
            overflow: hidden;
            border-bottom: none;

            p{
                display: inline;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            mat-icon{
                transform: scale(.7);
            }

            .read{
                color: darken($color: #44BCFF, $amount: 15);
            }
        }
    }

    &__div-message{
        display: grid;
        grid-template-columns: 1fr 22px;
        align-items: center;
        height: 28px;
    }

    .badge{
        max-width: 18px;
        max-height: 18px;
    }

    .user{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        &__name{
            // font-size: 18px;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 10px !important;
            color: #000 !important;
        }
    }

    &:hover{
        background: darken($color: #fff, $amount: 2.5);
    }
    
    &.active{
        background: darken($color: #fff, $amount: 6);
    }
}

.textNoFound{
    text-align: center;
    font-size: 17px;
    margin-top: 30px !important;
    color: $gris-claro;
}